img {
    width: 400px;

 
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: coral;
    padding: 50px;
    border: 15px solid black;
  
    
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
.divClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}
